<div id="Anmeldung">
	<svg class="Rechteck_1">
		<rect id="Rechteck_1" rx="0" ry="0" x="0" y="0" width="868" height="17">
		</rect>
	</svg>
	<div id="Wer_misst_heute">
		<span>Wer misst heute?</span>
	</div>


	<svg *ngFor="let user of users; let i = index" class="Rechteck"
		[style.left.px]="userListLeftStyles[(i+1)%3]"
		[style.top.px]="calculateTopStyleOfUserShortcut(i+1)"
		data-user-index="{{ i }}">
		<rect class="SubRechteck" rx="15" ry="15" x="0" y="0" width="170"
			height="170" (click)="open(content, user)">
		</rect>
		<text x="50" y="90" font-family="Verdana" font-style="bold" font-size="30" fill="black">{{ user.getUserName().substring(0,4) }}</text>
	</svg>

	<div id="Komponente_6__1" class="Komponente_6___1">
		<svg class="Pfad_1">
			<rect class="SubRechteck" rx="15" ry="15" x="0" y="0" width="170"
				height="170">
			</rect>
		</svg>
		<div id="plusButton">
			<span (click)="signUp()">+</span>		  
		</div>
	</div>
	<img id="logo_large" src="assets/images/logo_large.png"
		srcset="assets/images/logo_large.png 1x, assets/images/logo_large@2x.png 2x">
</div>

<!--Login popup-->
<ng-template #content let-modal> 
    <div class="modal-header"> 
        <h4 class="modal-title" 
            id="modal-basic-title"> 
            Login {{ selectedUser.getUserName() }}
        </h4> 
        <button type="button" class="close"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')"> 
  
            <span aria-hidden="true"> 
                × 
            </span> 
        </button> 
    </div> 
    <div class="modal-body"> 
        <form> 
            <div class="form-group"> 
                <label for="passw"> 
                    Password
                </label> 
                <div class="input-group"> 
						<input id="password" 
                        class="form-control" name="password" 
						type="password" [(ngModel)]="selectedUser.password">
                </div> 
            </div> 
        </form> 
    </div> 
    <div class="modal-footer"> 
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('Save click'); logIn();"> 
            Save 
        </button> 
    </div> 
</ng-template> 

<!-- Modal -->
<!--<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  ...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Understood</button>
		</div>
	  </div>
	</div>
  </div>-->