<div id="Anmeldung">
    <div id="login_heading">
        <div class="row">
            <div class="col-sm-2">
                <img id="logo_large" src="assets/images/logo_large.png"
                    srcset="assets/images/logo_large.png 1x, assets/images/logo_large@2x.png 2x">
            </div>
            <div id="Wer_misst_heute" class="col-sm-8">
                <span>Wer misst heute?</span>
            </div>
        </div>
        <div class="row">
            <div id="blue_line" class="col-sm-8">
            </div>
        </div>
    </div>


    <div id="login_body">
        <div class="row" *ngFor="let userGroup of designOrientedUserList">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row userListRow">
                    <div class="col-sm-4" *ngFor="let user of userGroup">
                        <div class="Rechteck" *ngIf="!user">
                            <!--user==null -> plusButton-->
                            <img id="plusButton" (click)="signUp()" src="assets/images/plus-icon.png">
                        </div>
                        <div class="Rechteck" *ngIf="user">
                            <!--user!=null -> userField-->
                            <div class="user_field" (click)="open(content, user)">
                                <span>{{ user.getUserName().substring(0,4) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>



<!--Login popup-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Login {{ selectedUser.getUserName() }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="passw">
                    Password
                </label>
                <div class="input-group">
                    <input id="password" class="form-control" name="password" type="password"
                        [(ngModel)]="selectedUser.password">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); logIn();">
            Login
        </button>
    </div>
</ng-template>