<div id="Anmeldung">
	<svg class="Rechteck_1">
		<rect id="Rechteck_1" rx="0" ry="0" x="0" y="0" width="868" height="17">
		</rect>
	</svg>
	<div id="Wer_misst_heute">
		<span>Wer misst heute?</span>
	</div>
	<svg class="Rechteck_5">
		<rect onclick="application.goToTargetView(event)" id="Rechteck_5" rx="15" ry="15" x="0" y="0" width="170"
			height="170">
		</rect>
	</svg>
	<svg class="Rechteck_6">
		<rect onclick="application.goToTargetView(event)" id="Rechteck_6" rx="15" ry="15" x="0" y="0" width="170"
			height="170">
		</rect>
	</svg>
	<svg class="Rechteck_7">
		<rect onclick="application.goToTargetView(event)" id="Rechteck_7" rx="15" ry="15" x="0" y="0" width="170"
			height="170">
		</rect>
	</svg>
	<svg class="Rechteck_8">
		<rect onclick="application.goToTargetView(event)" id="Rechteck_8" rx="15" ry="15" x="0" y="0" width="170"
			height="170">
		</rect>
	</svg>
	<svg class="Rechteck_9">
		<rect onclick="application.goToTargetView(event)" id="Rechteck_9" rx="15" ry="15" x="0" y="0" width="170"
			height="170">
		</rect>
	</svg>
	<div id="Komponente_6__1" class="Komponente_6___1">
		<svg class="Pfad_1" viewBox="0 0 170 170">
			<path onclick="application.goToTargetView(event)" id="Pfad_1"
				d="M 15 0 L 155 0 C 163.2842712402344 0 170 6.715728759765625 170 15 L 170 155 C 170 163.2842712402344 163.2842712402344 170 155 170 L 15 170 C 6.715728759765625 170 0 163.2842712402344 0 155 L 0 15 C 0 6.715728759765625 6.715728759765625 0 15 0 Z">
			</path>
		</svg>
		<div id="">
			<span>+</span>
		</div>
	</div>
	<img id="logo_large" src="assets/images/logo_large.png"
		srcset="assets/images/logo_large.png 1x, assets/images/logo_large@2x.png 2x">
</div>