<div id="Registrierung">
	<svg class="Rechteck_1">
		<rect id="Rechteck_1" rx="0" ry="0" x="0" y="0" width="768" height="152">
		</rect>
	</svg>
	<div id="Willkommen_bei_RMA__-_dem_Runn">
		<span style="text-transform:uppercase;">Willkommen bei RMA</span><span
			style="font-size:30px;text-transform:uppercase;"> <br />- dem Running Management APlication -</span>
	</div>
	<div id="Registrieren">
		<span>Registrieren</span>
	</div>
	<div id="Benutzer">
		<span>Benutzer:</span>
	</div>
	<div id="Passwort">
		<span>Passwort:</span>
	</div>
	<svg class="Rechteck_2">
		<rect id="Rechteck_2" rx="15" ry="15" x="0" y="0" width="453" height="38">
		</rect>
	</svg>
	<svg class="Rechteck_3">
		<rect id="Rechteck_3" rx="15" ry="15" x="0" y="0" width="453" height="38">
		</rect>
	</svg>
	<div id="Anmelden">
		<span>Anmelden</span>
	</div>
	<svg class="Rechteck_4">
		<rect (click)="signUp()"  id="Rechteck_4" rx="15" ry="15" x="0" y="0" width="190"
			height="58">
		</rect>
	</svg>
	<img id="logo_large" src="/assets/images/logo_large.png"
		srcset="assets/images/logo_large.png 1x, assets/images/logo_large@2x.png 2x">
	<div id="Registrierung_z">
		<span>Registrierung</span>
	</div>
</div>