<div id="Hauptmen">
	<svg class="Rechteck_1">
		<rect id="Rechteck_1" rx="0" ry="0" x="0" y="0" width="768" height="17">
		</rect>
	</svg>
	<div id="Was_mchten__sie_tun">
		<span>Was möchten <br />sie tun?</span>
	</div>
	<svg class="Ergebnisse">
		<rect id="Ergebnisse" rx="15" ry="15" x="0" y="0" width="610" height="196">
		</rect>
	</svg>
	<div id="Komponente_3__1" class="Komponente_3___1">
		<svg class="Neuer_Lauf">
			<rect onclick="application.goToTargetView(event)" id="Neuer_Lauf" rx="15" ry="15" x="0" y="0" width="610"
				height="196">
			</rect>
		</svg>
		<div id="Komponente_2__1" class="Komponente_2___1">
			<div id="Neuer_Lauf_v">
				<span>Neuer Lauf</span>
			</div>
			<img id="logo_small" src="/assets/images/logo_small.png"
				srcset="/assets/images/logo_small.png 1x, /assets/images/logo_small@2x.png 2x">
		</div>
	</div>
	<div id="Ergebnisse_x">
		<span>Ergebnisse</span>
	</div>
	<svg class="Profilbild">
		<!--<rect onclick="application.goToTargetView(event)" id="Profilbild" rx="15" ry="15" x="0" y="0" width="100"
			height="100">
		</rect>-->
		<rect (click)="_authService.logoutUser()" id="Profilbild" rx="15" ry="15" x="0" y="0" width="100"
			height="100">
		</rect>
	</svg>
	<img id="logo_large" src="assets/images/logo_large.png"
		srcset="assets/images/logo_large.png 1x, assets/images/logo_large@2x.png 2x">
	<div id="Guten_Tag">
		<span>Guten Tag!</span>
	</div>
</div>